@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: bentonbold;
  src: url("../fonts/BentonSans\ Bold.otf") format("opentype");
}

@font-face {
  font-family: bentonreg;
  src: url("../fonts/BentonSans\ Regular.otf") format("opentype");
}
